body {
    color: white;
    background-color: rgb(45, 123, 224);
    margin: 0%;
    font-family: Poppins, Helvetica, sans-serif;
}

nav ul {
    margin: 0%;
    padding: 3%; 
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;
    align-items: center;
}

li{
    background-color: rgba(202, 202, 202, 0.3150);
    padding: 10px 30px;
    border-radius: 20px;
}

a { 
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.container {
    width: 90%;
    max-width: 700px;
    min-height: 550px;
    margin: 5px auto 0;
    padding: 50px;
    background-color: rgba(202, 202, 202, 0.315);
    border-radius: 15px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 20px;
    }

    .container {
        width: 95%;
        padding: 20px;
    }
}